* {
font-family: 'Roboto Mono', monospace;
margin: 0;
padding: 0;
}

body {
    background: linear-gradient(to left, rgb(199, 106, 152),rgb(184, 90, 141), rgb(199, 51, 125));
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    width: 80vw;
    max-width: 80%;
    background-color: rgb(255, 72, 0);
    height: 110vh;
    box-shadow: 0 0 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

h1{
    background-color: rgb(255, 230, 0);
    height: 50px;
    padding: 50px 0;
}

.score {
font-size: large;
font-weight: 200;
}

#user-score, #tot-score{
    font-size: large;
    width: fit-content;
    color: rgb(255, 230, 0);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.questionsP {
    font-size: larger;
    font-weight: bolder;
    margin: 30px;
    height: 30px;
}




